@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&family=Manrope:wght@200;300;400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --max-width: 1280px;
}

html {
}

body {
    margin: 0;
    min-height: 100%;
    padding-top: 75px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #323232;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

a:hover {
    opacity: 1;
    color: #323232;
    text-decoration: none;
}

h1 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Manrope, sans-serif;
    color: #323232;
    font-size: 75px;
    line-height: 1.2;
    font-weight: 800;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
}

.button {
    min-width: 180px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 13px 20px;
    border-radius: 5px;
    background-color: #fa5853;
    background-image: linear-gradient(90deg, #fa5853, #f46692 50%, #ffc444);
    transition: letter-spacing 300ms ease, color 300ms ease;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0px;
    text-decoration: none;
}

.download__btn.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #141415 !important;
    background-image: none !important;
    font-size: 16px;
    font-weight: 400;

    &:hover {
        color: white;
        background-color: #212121 !important;
        letter-spacing: 0px;
    }

    span {
        height: 25px;
        width: 25px;
        margin: 0 5px 0 0;
    }

    svg {
        height: 100%;
        width: 100%;
    }
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
