.wrapper {
    position: relative;
    padding-top: 3em;
}

.eclipse_holder {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
    overflow: hidden;
}

.eclipse_left {
    position: absolute;
    left: -430px;
    top: 5em;
    right: auto;
    bottom: auto;
    z-index: -1;
    width: 520px;
    height: 650px;
    background-image: url('https://assets.website-files.com/604b35876a71cbbd84768e36/604be9fb9ce09119bd327a63_Ellipse-1.png');
    background-position: 50% 50%;
    background-size: cover;
}

.eclipse_right {
    position: absolute;
    left: auto;
    top: 0%;
    right: -530px;
    bottom: auto;
    z-index: -1;
    width: 650px;
    height: 650px;
    background-image: url('https://assets.website-files.com/604b35876a71cbbd84768e36/604be9fba35a421e863d3945_Ellipse-2.png');
    background-position: 50% 50%;
    background-size: cover;
}

.main_container {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
}

.inner {
    position: relative;
    display: flex;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
}

.inner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inner_icon {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.w_layout_grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.grid_10_column {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.inner_desc {
    width: 90%;
    grid-column-end: 10;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-row-start: 1;
}

.download {
    display: flex;
    margin-top: 2em;
    margin-bottom: 3em;
}

.download_ios {
    margin-right: 30px;
    & a {
        min-width: unset;
    }
}

.text_sticky {
    position: sticky;
    top: 75px;
    display: flex;
    overflow: visible;
    width: 99vw;
    flex-direction: row;
    justify-content: center;
}

.text_holder {
    position: absolute;
    top: 200px;
    display: flex;
    overflow: hidden;
    width: 99vw;
    flex-direction: row;
    justify-content: space-between;
}

.text_holder_1 {
    overflow: hidden;
    width: 50vw;
    text-align: right;
}

.text_holder_2 {
    overflow: hidden;
    text-align: left;
}

.text_line {
    position: relative;
    overflow: hidden;
    width: 3px;
    height: 160px;
    margin-top: 60px;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #fa5853, #f46692 50%, #ffc444);
}

.text {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 210px;
    line-height: 1.2;
    font-weight: 800;
}

.text._1 {
    padding-right: 1rem;
    background-image: linear-gradient(90deg, #fa5853, #f46692);
    text-align: right;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text._2 {
    width: 48vw;
    padding-left: 1rem;
    background-image: linear-gradient(90deg, #f46692, #ffc444);
    text-align: left;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product_demo {
    position: relative;
    display: block;
    width: 100%;
    height: 160vh;
}

.product_sticky {
    position: sticky;
    top: 110px;
    z-index: 1;
    min-height: auto;
    padding-top: 0px;
}

.product_container {
    position: relative;
    top: -30px;
    display: flex;
    overflow: hidden;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-direction: column;
    align-items: center;
}

.product_phone_image_holder {
    position: relative;
    width: 400px;
}

.product_phone_image {
    width: 100%;
}

.product_phone_content {
    position: absolute;
    left: 36px;
    top: 36px;
    right: 37px;
    bottom: 35px;
    z-index: -1;
    overflow: hidden;
}

.product_phone_demo_image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
}

.iphone_lock_screen_image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 36px;
    opacity: 1;
    object-fit: cover;
}

.container {
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
    padding: 3rem 1em;
}

.customers_panel {
    padding-top: 3em;
    padding-bottom: 3em;
}

.panel__text_holder {
    padding-top: 2em;
    padding-bottom: 2em;
}

.text_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fade_in_on_scroll h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Manrope, sans-serif;
    font-size: 25px;
    line-height: 1.3;
    font-weight: 800;
}

.grid_5_col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.grid_4_col {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.content.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer_image {
    max-height: 30px;
}

.text_gradient_2 {
    background-image: linear-gradient(111deg, #60aef8, #f46692 50%, #f3a562);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_container {
    max-width: 56%;
    padding-bottom: 40px;
}

.feature_grid {
    width: 100%;
    margin-bottom: 3em;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.footer_grid {
    width: 100%;
    margin-bottom: 3em;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.card_item {
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    border-radius: 20px;
    background-color: #1d1e1f;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
}

.card_item.light {
    justify-content: space-between;
    background-color: #fcfdff;
}

.card_item_content {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.feature_1_image {
    height: 240px;
    object-fit: cover;
    object-position: 50% 0%;
}

.card_feature_center {
    width: 100%;
    text-align: center;
}

.card_feature_icon {
    height: 65px;
    margin-bottom: 0.5em;
}

.grid_6_col {
    width: 100%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.trusted_content {
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.content_sticky {
    position: sticky;
    top: 100px;
}

.text_x1 {
    font-size: 24px;
}

.trusted_content.trusted_list {
    padding-top: 70vh;
}

.trusted_overlay_container {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    width: 1px;
    height: 100%;
}

.trusted_white_overlay {
    position: sticky;
    left: 0%;
    top: 75px;
    right: 0%;
    bottom: auto;
    width: 49vw;
    height: 10em;
}

.trusted_white_overlay.bottom {
    top: 80vh;
    height: 20vh;
}

.trusted_item {
    display: flex;
    margin-bottom: 20vh;
    flex-direction: column;
    align-items: flex-start;
}

.trusted_item_header {
    display: flex;
    align-items: center;
}

.trusted_no {
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    background-image: linear-gradient(128deg, #60aef8, #f46692 50%, #ffc444);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_small {
    font-size: 60%;
}

.text_gradient_2 {
    background-image: linear-gradient(111deg, #60aef8, #f46692 50%, #f3a562);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white_text {
    color: #fff;
}

.card_iphone {
    position: relative;
    overflow: hidden;
    height: 390px;
    margin-right: auto;
    margin-left: auto;
}

.card_iphone_image {
    width: 290px;
}

.card_iphone_overlay {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0%;
    height: 30%;
    background-image: linear-gradient(0deg, #1d1e1f, rgba(29, 30, 30, 0));
}

.card_phone_image_container {
    position: absolute;
    left: 26px;
    top: 26px;
    right: 26px;
    bottom: 0px;
    z-index: -1;
    overflow: hidden;
}

.card_iphone_screenlock {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    border-radius: 29px;
}

.width_pct {
    width: 100%;
}

.light_grey {
    color: #787878;
}

.grid_start_1_2 {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

.grid_start_1_3 {
    grid-column-start: span 3;
    grid-column-end: span 3;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

.grid_start_1_4 {
    grid-column-start: span 4;
    grid-column-end: span 4;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

.grid_start_1_5 {
    grid-column-start: span 5;
    grid-column-end: span 5;
    grid-row-start: span 1;
    grid-row-end: span 1;
}

.grid_start_2_10 {
    grid-column-end: 10;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-row-start: 1;
}

.dont_take_our_word_title {
    margin-top: 5em;
    margin-bottom: 2em;
    text-align: center;
}

.testimonials_container {
    position: relative;
}

.grid_testimonial {
    width: 100%;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.testimonial_header {
    display: flex;
    width: 100%;
    margin-bottom: 1.5em;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.testimonial_picture {
    width: 43px;
    height: 43px;
    margin-right: 15px;
    border-radius: 50%;
}

.testimonial_text {
    flex: 1;
}

.testimonial_see_more {
    position: absolute;
    left: 0%;
    top: auto;
    right: 0%;
    bottom: 0;
    z-index: 2;
    padding-top: 7em;
    border-radius: 0px 0px 20px 20px;
    background-image: linear-gradient(0deg, #141415, rgba(20, 20, 21, 0.82) 50%, rgba(20, 20, 21, 0));
    text-align: center;
}

.w_button {
    display: inline-block;
    padding: 13px 0;
    background-color: #3898ec;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.testimonial_more {
    position: relative;
    overflow: hidden;
    margin-top: 1em;
}

.text_xs {
    font-size: 16px;
}

.subscribe_form {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0px;
}

.w_form {
    margin: 0 0 15px;
}

.subscribe_form_flex {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
}

.subscribe_form_input_wrapper {
    position: relative;
    flex: 1;
    text-align: left;
}

.form_input {
    height: 47px;
    min-width: 350px;
    margin-bottom: 0px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #dadada;
    border-radius: 5px;
    background-color: rgba(244, 248, 251, 0.25);
    transition: border-color 200ms ease;
    color: #141415;
    font-size: 18px;
    line-height: 1;
}

.w_input,
.w_select {
    display: block;
    width: 96.5%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.form_input.subscribe_input {
    height: 52px;
    padding-left: 20px;
    border-radius: 20px;
    font-size: 25px;
}

.container.phone_container {
    padding-top: 6rem;
    padding-bottom: 0rem;
}

.app_icon_text_holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.app_icon_holder_xs {
    display: flex;
    width: 28px;
    height: 28px;
    min-width: 28px;
    margin-right: 10px;
    padding: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.app_icon {
    width: 100%;
}

.phone_holder_container {
    position: relative;
    z-index: 2;
    overflow: hidden;
    height: 750px;
}

.phone_slider_container {
    position: absolute;
    left: 75px;
    top: 25px;
    right: auto;
    z-index: -1;
    width: 239px;
    height: 511px;
    background-color: rgba(250, 88, 83, 0.61);
}

.phone_slider {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 100%;
    height: 100%;
}

.w_slider {
    position: relative;
    height: 100%;
    text-align: center;
    background: #dddddd;
    clear: both;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.phone_slider_mask {
    width: 100%;
    height: 100%;
}

.w_slider_mask {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    left: 0;
    right: 0;
    height: 100%;
    white-space: nowrap;
}

.phone_slider_image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.phone_holder_image {
    width: 530px;
    min-width: 530px;
}

.footer {
    margin-top: auto;
    padding: 0px;
    align-items: flex-start;
    text-align: center;
}

.footer_social_media_container {
    display: flex;
    margin-top: 0px;
    margin-bottom: 2em;
    padding-bottom: 2em;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #d5d7db;
    text-align: left;
}

.social_media_container {
    display: flex;
    margin-top: 0px;
    margin-bottom: 2em;
    padding-bottom: 2em;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #d5d7db;
    text-align: left;
}

.social_media_content {
    display: flex;
    flex-direction: row;
}

.social_media_link {
    margin-left: 1em;
    opacity: 1;
    transition: opacity 200ms ease, color 200ms ease;

    & span {
        font-size: 27px;
    }
}

.w_inline_block {
    max-width: 100%;
    display: inline-block;
}

.made_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;
}

.clone_by_quang {
    display: flex;
    color: #787878;
}

.made_by_holder {
    display: flex;
}

.made_by {
    margin-right: 5px;
}

.footer_flex_container {
    display: flex;
    justify-content: flex-end;
    text-align: left;
}

.footer_brand_container {
    display: flex;
    padding-right: 50px;
    flex-direction: row;
    align-items: flex-start;
    flex: 1;
}

.footer_logo_link {
    max-width: 130px;
    margin-right: 2em;
    margin-bottom: 1em;
}

.footer_image {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
}

.footer_list {
    display: flex;
    margin-bottom: 0px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.w_list_unstyled {
    padding-left: 0;
    list-style: none;
}

.footer_list_item {
    margin-bottom: 0px;
    padding-right: 1em;
}

.link {
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    padding-bottom: 5px;
    flex: 0 auto;
    text-decoration: none;
}

.link_underline {
    position: absolute;
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
    width: 100%;
    height: 2px;
    background-color: #13cc78;
    background-image: linear-gradient(90deg, #60aef8, #f46692 50%, #f3a562);
}

.float_left {
    text-align: left;

    li {
        padding: 5px 0;
    }
}

.footer_title {
    font-size: 25px;
    color: #ef9a13;
}

.footer_brand {
    background-color: white;
    padding: 35px 20px;
}

.footer_link {
    font-size: 15px;
    color: #d3d3d3;

    &:hover {
        color: #d3d3d3;
        text-decoration: underline;
    }
}

.footer_text {
    font-size: 15px;
    color: #d3d3d3;
}

.outline_footer {
    margin: 20px 0;
    background-color: white;
    height: 1px;
}

.footer_icon {
    color: #ef9a13;
    padding-right: 25px;
}

.footer_block {
    display: none;
}

.footer_hidden {
    display: block;
}

@media screen and (max-width: 991px) {
    .nav-link {
        margin-bottom: 0.5em;
        margin-left: 0px;
        font-weight: 600;
        text-align: left;
    }

    .footer_flex_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .container.phone_container {
        padding-right: 0px;
    }

    .hero_text {
        font-size: 100px;
    }

    .section_hero {
        padding-top: 1em;
    }

    .project_item {
        width: 100%;
        padding-right: 0px;
    }

    .nav_menu {
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: #fff;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
    }

    .brand {
        padding-left: 0px;
    }

    .menu_button {
        position: absolute;
        left: auto;
        top: 7px;
        right: 10px;
        bottom: auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 60px;
        height: 60px;
        padding: 15px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 10px;
        background-image: linear-gradient(135deg, #fa5853, #f46692 49%, #ffc444);
        -webkit-transition: background-color 200ms ease;
        transition: background-color 200ms ease;
        line-height: 1;
        text-align: center;
    }

    .menu_button.w__open {
        background-color: #323232;
    }

    .project_item_style_2 {
        padding-right: 0px;
    }

    .heading_display {
        font-size: 55px;
    }

    .utility_page_content {
        max-width: 50vw;
    }

    .asset_licensing_grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .nav_cta_button {
        padding-left: 1em;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        text-align: left;
    }

    .small_container {
        max-width: 100%;
    }

    .customers_panel {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .text_container {
        max-width: 70%;
    }

    .play_icon_holder {
        width: 100px;
        margin-top: -50px;
        margin-left: -50px;
    }

    .play_icon_image {
        width: 100px;
    }

    .grid_10_column {
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .team_item {
        min-height: 300px;
    }

    .ellipse_left {
        left: -450px;
    }

    .ellipse_right {
        right: -560px;
    }

    .main_hero_container {
        padding-right: 1em;
        padding-left: 1em;
    }

    .download_buttons.mobile_vertical {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .download_button {
        margin-bottom: 10px;
    }

    .download_button.last {
        margin-bottom: 0px;
    }

    .hero_text_line {
        height: 90px;
        margin-top: 25px;
    }

    .footer_social_media_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .made_container.responsive {
        margin-top: 15px;
    }

    .grid_testimonial {
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .licensing_device_image {
        max-height: 250px;
    }

    .footer_block {
        display: block;
    }

    .footer_hidden {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .footer_flex_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section.second {
        margin-top: 400px;
    }

    .container.phone_container {
        padding-top: 3rem;
    }

    .hero_text {
        margin-top: 0px;
    }

    .hero_text._1 {
        width: 100%;
        padding-right: 0rem;
        text-align: center;
    }

    .hero_text._2 {
        width: 100%;
        padding-left: 0rem;
        text-align: center;
    }

    .content.phone_content_text {
        padding-right: 1em;
    }

    .grid_6_col {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .project_item {
        padding-top: 60px;
        padding-bottom: 50px;
    }

    .nav_menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .menu_button {
        background-image: linear-gradient(132deg, #fa5853, #f46692 49%, #ffc444);
    }

    .menu_button.w__open {
        color: #000;
    }

    .heading_display {
        font-size: 45px;
    }

    .utility_page_content {
        max-width: none;
    }

    .subscribe_form_flex {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }

    .subscribe_form_input_wrapper {
        margin-right: 0px;
    }

    .asset_licensing_grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    .footer_image {
        -o-object-fit: contain;
        object-fit: contain;
    }

    .btn_subscribe {
        bottom: 0px;
        margin-right: 0px;
    }

    .download {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .card_item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .card_item_content {
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    }

    .hero_product_demo {
        height: 130vh;
    }

    .customer_image {
        margin-bottom: 1em;
    }

    .text_container {
        max-width: 100%;
    }

    .grid_10_column {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .team_item {
        min-height: auto;
    }

    .change_log_grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .feature_grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .hero_text_holder {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .grid_5_col {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .download_buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
    }

    .download_buttons.mobile_vertical {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .download_button {
        width: 100%;
        margin-right: 0px;
    }

    .trusted_item {
        margin-bottom: 3em;
    }

    .trusted_overlay_container {
        display: none;
    }

    .trusted_content {
        padding-top: 0rem;
        padding-bottom: 3rem;
    }

    .trusted_content.trusted_list {
        padding-top: 0vh;
    }

    .hero_text_holder_1 {
        width: 100%;
        text-align: center;
    }

    .hero_text_holder_2 {
        width: 100%;
        text-align: center;
    }

    .hero_text_line {
        width: 30%;
        height: 2px;
        margin-top: 0px;
    }

    .footer_social_media_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer_list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer_brand_content {
        padding-right: 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer_copyright {
        padding-top: 1em;
    }

    .made_container {
        padding-top: 1em;
        padding-right: 0px;
    }

    .grid_testimonial {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .licensing_images_grid {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
    .footer_block {
        display: block;
    }

    .footer_hidden {
        display: none;
    }
}

@media screen and (max-width: 479px) {
    .fixed_nav {
        padding-right: 0px;
        padding-left: 0px;
    }

    .nav_link {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .footer {
        text-align: left;
    }

    .footer_flex_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .section.second {
        margin-top: 50vh;
    }

    .hero_text {
        font-size: 80px;
    }

    .heading_display {
        font-size: 38px;
    }

    .subscribe_form_input_wrapper {
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .form_input {
        width: 100%;
        min-width: auto;
    }

    .form_input.subscribe_input {
        height: 60px;
        border-radius: 10px;
        font-size: 18px;
    }

    .btn_subscribe {
        position: relative;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 50px;
        margin-top: 5px;
        margin-bottom: 0px;
        border-radius: 10px;
    }

    .hero_product_demo {
        height: 80vh;
    }

    .ellipse_left {
        left: -60%;
        top: 30%;
        width: 320px;
        height: 350px;
    }

    .ellipse_right {
        left: 75vw;
        top: 30%;
        right: auto;
        width: 350px;
        height: 350px;
    }

    .app_icon_holder {
        width: 80px;
        height: 80px;
    }

    .product_phone_content {
        left: 27px;
        top: 26px;
        right: 27px;
        bottom: 26px;
    }

    .product_phone_image_holder {
        width: 300px;
    }

    .iphone_lock_screen_image {
        border-radius: 30px;
    }

    .external_link {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .footer_social_media_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer_list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .footer_list_item {
        margin-bottom: 10px;
    }

    .footer_brand_content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .made_container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .made_by_azwedo {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .powered_by {
        margin-top: 0.5em;
        margin-left: 0em;
    }

    .phone_holder_container {
        height: 520px;
    }

    .phone_slider_container {
        left: 50px;
        top: 17px;
        width: 158px;
        height: 337px;
    }

    .phone_holder_image {
        width: 350px;
        min-width: 350px;
    }

    .licensing_images_grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .and {
        padding-left: 0px;
    }

    .made_by_holder {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        margin-bottom: 5px;
    }
    .footer_block {
        display: block;
    }

    .footer_hidden {
        display: none;
    }
}
