.wrapper {
    position: relative;
    padding-top: 3em;
}

.main_container {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
}

.inner {
    position: relative;
    display: flex;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
}

.inner_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inner_icon {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: linear-gradient(349deg, #fa5853, #f46692 52%, #ffc444);
}

.w_layout_grid {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
}

.grid_10_column {
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.inner_desc {
    width: 90%;
    grid-column-end: 10;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-row-start: 1;
}

.download {
    display: flex;
    margin-top: 2em;
    margin-bottom: 3em;
}

.download_ios {
    margin-right: 30px;
    & a {
        min-width: unset;
    }
}

.text_sticky {
    position: sticky;
    top: 75px;
    display: flex;
    overflow: visible;
    width: 99vw;
    flex-direction: row;
    justify-content: center;
}

.text_holder {
    position: absolute;
    top: 200px;
    display: flex;
    overflow: hidden;
    width: 99vw;
    flex-direction: row;
    justify-content: space-between;
}

.text_holder_1 {
    overflow: hidden;
    width: 50vw;
    text-align: right;
}

.text_holder_2 {
    overflow: hidden;
    text-align: left;
}

.text_line {
    position: relative;
    overflow: hidden;
    width: 3px;
    height: 160px;
    margin-top: 60px;
    border-radius: 20px;
    background-image: linear-gradient(90deg, #fa5853, #f46692 50%, #ffc444);
}

.text {
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 210px;
    line-height: 1.2;
    font-weight: 800;
}

.text._1 {
    padding-right: 1rem;
    background-image: linear-gradient(90deg, #fa5853, #f46692);
    text-align: right;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text._2 {
    width: 48vw;
    padding-left: 1rem;
    background-image: linear-gradient(90deg, #f46692, #ffc444);
    text-align: left;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product_demo {
    position: relative;
    display: block;
    width: 100%;
    height: 160vh;
}

.product_sticky {
    position: sticky;
    top: 110px;
    z-index: 1;
    min-height: auto;
    padding-top: 0px;
}

.product_container {
    position: relative;
    top: -30px;
    display: flex;
    overflow: hidden;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-direction: column;
    align-items: center;
}

.product_phone_image_holder {
    position: relative;
    width: 400px;
}

.product_phone_image {
    width: 100%;
}

.product_phone_content {
    position: absolute;
    left: 36px;
    top: 36px;
    right: 37px;
    bottom: 35px;
    z-index: -1;
    overflow: hidden;
}

.product_phone_demo_image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: inline-block;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
}

.iphone_lock_screen_image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 36px;
    opacity: 1;
    object-fit: cover;
}

.container {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 3rem 1em;
}

.customers_panel {
    padding-top: 3em;
    padding-bottom: 3em;
}

.panel__text_holder {
    padding-top: 2em;
    padding-bottom: 2em;
}

.text_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fade_in_on_scroll h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Manrope, sans-serif;
    font-size: 25px;
    line-height: 1.3;
    font-weight: 800;
}

.grid_5_col {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.content.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer_image {
    max-height: 30px;
}

.text_gardient_2 {
    background-image: linear-gradient(111deg, #60aef8, #f46692 50%, #f3a562);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_container {
    max-width: 49%;
    padding-bottom: 40px;
}
